#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cell{
  height: 90px;
  width: 90px;
  background-color:aliceblue;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  font-size: xx-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  border: 1px solid white;
  border-radius: 10px;
}


.cell:hover{
  background-color:rgb(35, 39, 47) ;
}


.container {
  height: auto;
  width: 300px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;

}


.container  div:nth-child(odd) {
  color: #2596be;
}

.container div:nth-child(even){
  color: #49be25;
}



.disable{
  pointer-events: none;
}